adal==0.5.1
asn1crypto==0.24.0
azure-common==1.1.10
azure-keyvault==1.0.0b1
azure-mgmt-authorization==0.40.0
azure-mgmt-keyvault==1.0.0b1
azure-mgmt-nspkg==2.0.0
azure-mgmt-resource==1.2.2
azure-mgmt-storage==1.5.0
azure-nspkg==2.0.0
azure-storage==0.36.0
azure-storage-blob==1.1.0
azure-storage-common==1.1.0
azure-storage-nspkg==3.0.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
entrypoints==0.2.3
idna==2.6
isodate==0.6.0
keyring==12.2.0
msrest==0.4.29
msrestazure==0.4.29
oauthlib==2.0.7
pycparser==2.18
PyJWT==1.6.1
python-dateutil==2.7.2
pywin32-ctypes==0.1.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
urllib3==1.22
